@import "tailwindcss";
  
*{
   font-family: "Lora", serif;
  
}
@keyframes glowMoveSlow {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-glowMoveSlow {
  animation: glowMoveSlow 25s linear infinite;
}

/* HORIZONTAL BLUE SCROLLBAR */
.industries-scroll::-webkit-scrollbar {
  height: 6px;
}

.industries-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.industries-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    #2563eb,
    #38bdf8
  );
  border-radius: 999px;
}

.industries-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    90deg,
    #1d4ed8,
    #0ea5e9
  );
}

/* Firefox */
.industries-scroll {
  scrollbar-width: thin;
  scrollbar-color: #0429d05d transparent;
}

/* about bg */
@keyframes gradientMoveSlow {
  0% {
    transform: translate(-8%, -8%);
  }
  50% {
    transform: translate(8%, 8%);
  }
  100% {
    transform: translate(-8%, -8%);
  }
}

@keyframes gradientMoveReverse {
  0% {
    transform: translate(8%, 8%);
  }
  50% {
    transform: translate(-8%, -8%);
  }
  100% {
    transform: translate(8%, 8%);
  }
}

.animate-gradientMoveSlow {
  animation: gradientMoveSlow 10s ease-in-out infinite;
}

.animate-gradientMoveReverse {
  animation: gradientMoveReverse 15s ease-in-out infinite;
}





